name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsodium-dev build-essential libmicrohttpd-dev sqlite3

      - name: Compile Tests
        working-directory: ./backend
        run: make test

      - name: Run Tests
        working-directory: ./backend
        run: make runt

